@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
}

h1{
    font-size: 33px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom:0;
    padding-top: 10px;
}

form{
    padding:7px;
}

ul{
    margin:-30px;
    padding:0;
}

li{
    list-style: none;
    margin:0;
    padding:0;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

li:first-letter{
    text-transform: capitalize;
}    

small{
    display: block;
    padding-top: 8px;
    padding-left: 4px;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}
.weather-app-wrapper{
    max-width:600px;
    margin: 30px auto; 
}

.weather-app{
    padding:25px 35px;
    border:1px solid #B4B1B5;
    border-radius: 6px;
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img{
    margin-right: 8px;
    height:74px;
    width:64px;
    
}

.weather-temperature strong{
    color:rgb(33,33,33);
    font-size:58px;
    font-weight:350;
    line-height: .8;
}

.weather-temperature .units{
    position:relative;
    font-size: 16px;
    top:-32px;
}

.weather-temperature .active{
    color:rgb(33,33,33);
    cursor:default;
}

.weather-temperature .active:hover{
    color:rgb(33,33,33);
    cursor:default;
    text-decoration: none;
} 

.weather-forecast{
    margin-top:15px;
    margin-right: 12px;
    margin-bottom: 10px;
    text-align:center;
}

.weather-forecast-date{
    font-size:16px;
    opacity:0.5;
}

.weather-forecast-temperature-min{
    opacity:0.5;
}

.weather-forecast-temperatures{
    font-size: 13.5px;
}
